@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
h1 {
    color: red;
    font-size: 70px; 
    text-align: center;
    text-decoration: wavy;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
    font-style: oblique;
    
}