header{
    background-color:blue;
    color:white;
}
#toolHeader,#clothesHeader{
    text-align: center;
}
#home{
    text-align: right;
    color:white;
}
#tool{
    text-align: center;
}
#toy{
    text-align: center;
}
#clothes{
    text-align: center;
}
#miscellaneous{
    text-align: center;
}