body {
    background-color: lightblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.center { 
    text-align: center;
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid rgb(45, 72, 179);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(29, 26, 138);
  color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 20px;
    text-align: left;
}

table th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

table td {
    padding: 10px;
    border: 3px solid #d4e7ed;
    text-align: center;
}

img {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
